body {
    font-family: sans-serif;
    font-size: small
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}